<!-- <ion-header>
  <ion-nav color="secondary">
    <ion-title>
      {{data.name}}
      owo
    </ion-title>
  </ion-nav>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      owo
      {{data.website}}
    </ion-card-content>
  </ion-card>
</ion-content> -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card-header>
    <ion-card-title>
      123
    </ion-card-title>
    <ion-card>
      <ion-card-content>
        {{ description }}
      </ion-card-content>
    </ion-card>
  </ion-card-header>
</ion-content>
