<ion-header [translucent]="true">
  <ion-toolbar color="secondary" >
    <ion-title class="title">Todo!</ion-title>  
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="ion-text-center">
    <div class="my_title">
      <ion-text color="primary">
        <h2>
          Add something todo!
        </h2>
      </ion-text>
      <ion-button (click)="nav2add()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </div>

<ion-list>
  <ion-item *ngFor="let item of items" >
    <ion-checkbox [(ngModel)]="item.done" color="primary" checked slot="start" [checked]="item.done"></ion-checkbox>
    <ion-label class="my_label" (click)="nav2detail(item.id)" [ngClass]="{'done' : item.done}">
      {{item.title}}&nbsp;&nbsp;{{item.description}}
    </ion-label>
    <p class="my_date">
      {{ item.modified | date:'short'}}
    </p>
    <ion-button slot="end" color="danger" (click)="DeleteItem(item)">delete</ion-button>
</ion-item>
</ion-list>
</div>
<div class="button_block">
  <ion-button class="my_button" color="success" (click)="markAll()">
    <ion-label>complete all</ion-label>
  </ion-button>
  
  <ion-button class="my_button" color="danger" (click)="clearAll()">
    <ion-label>uncompleted all</ion-label>
  </ion-button>
</div> 
</ion-content>

